# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_raw = pd.read_csv('../data/train.csv')
train_df = train_raw.copy()
uni_raw = pd.read_csv('../data/unicode_translation.csv')
uni_df = uni_raw.copy()

In [3]:
print(train_df.shape)
train_df.head()

(3605, 2)

            image_id                                             labels
0  100241706_00004_2  U+306F 1231 3465 133 53 U+304C 275 1652 84 69 ...
1  100241706_00005_1  U+306F 1087 2018 103 65 U+304B 1456 1832 40 73...
2  100241706_00005_2  U+306F 572 1376 125 57 U+306E 1551 2080 69 68 ...
3  100241706_00006_1  U+3082 1455 3009 65 44 U+516B 1654 1528 141 75...
4  100241706_00007_2  U+309D 1201 2949 27 33 U+309D 1196 1539 27 36 ...

In [4]:
print(uni_df.shape)
uni_df.head()

(4781, 2)

  Unicode char
0  U+0031    1
1  U+0032    2
2  U+0034    4
3  U+0036    6
4  U+0039    9

In [5]:
train_df['image_id'].value_counts(ascending = False)

100241706_00004_2    1
200021925-00004_2    1
200022050-00001      1
200022050-00002_1    1
200022050-00002_2    1
                    ..
200014740-00040_2    1
200014740-00041_1    1
200014740-00041_2    1
200014740-00042_1    1
umgy012-042          1
Name: image_id, Length: 3605, dtype: int64

In [6]:
train_df.isnull().sum()

image_id    0
labels      0
dtype: int64

In [7]:
uni_df.value_counts(ascending = False)

Unicode  char
U+0031   1       1
U+805F   聟       1
U+805A   聚       1
U+8058   聘       1
U+8056   聖       1
                ..
U+6271   扱       1
U+626E   扮       1
U+6268   扨       1
U+6263   扣       1
U+FF2F   Ｏ       1
Length: 4781, dtype: int64

In [8]:
uni_df.isnull().sum()

Unicode    0
char       0
dtype: int64

# Transform train_df

In [9]:
train_df.iloc[0,1]

'U+306F 1231 3465 133 53 U+304C 275 1652 84 69 U+3044 1495 1218 143 69 U+3051 220 3331 53 91 U+306B 911 1452 61 92 U+306B 927 3445 71 92 U+306E 904 2879 95 92 U+5DE5 1168 1396 187 95 U+3053 289 3166 69 97 U+4E09 897 3034 121 107 U+306E 547 1912 141 108 U+3084 1489 2675 151 109 U+3068 1561 2979 55 116 U+5DF1 1513 2500 127 117 U+3082 1213 1523 72 119 U+3055 1219 3266 95 124 U+306E 259 2230 68 125 U+306E 1184 2423 169 125 U+4E16 849 2236 163 127 U+7D30 1144 1212 200 128 U+305D 316 3287 57 133 U+4EBA 217 2044 183 135 U+3051 277 2974 112 137 U+308C 201 3423 181 137 U+3060 243 2830 159 143 U+5F37 1479 2034 163 145 U+306E 1497 1567 123 152 U+305F 1164 952 145 153 U+3066 552 1199 97 155 U+4FF3 537 2095 176 155 U+6839 203 1439 184 156 U+304B 1188 2606 156 157 U+8AE7 549 2328 156 159 U+308C 1495 2784 168 159 U+5B50 891 1255 100 164 U+3092 584 2546 117 164 U+53CA 849 1588 151 164 U+8005 1192 2198 133 169 U+305A 889 1763 103 171 U+907F 513 945 181 171 U+6B63 539 1439 136 172 U+6587 192 2382 216 173 U+3075 1512 3371 147 176 U+6642 1465 1338 168 179 U+601D 1492 3175 159 180 U+306A 1191 2775 135 181 U+3081 593 3313 151 184 U+6D6E 868 1982 155 184 U+3092 873 2400 145 192 U+6C17 1504 1754 145 200 U+8077 208 1770 197 204 U+8001 1167 1687 152 208 U+6B66 1184 1942 171 208 U+697D 568 2762 133 209 U+3082 247 1159 116 212 U+76F2 253 2578 119 215 U+82E5 1465 951 172 216 U+81EA 1852 1736 104 219 U+3069 220 928 139 229 U+98A8 541 1619 147 236 U+306B 1521 2239 83 237 U+88CF 851 2608 169 237 U+7573 905 3189 103 244 U+606F 876 937 123 244 U+5E8F 1816 2096 152 296 U+3057 629 2985 27 300 U+3057 1243 2942 39 313'

In [10]:
# split labels to unicode level; list
train_df['labels'] = train_df['labels'].apply(lambda x: x.split())

#reset index to save original index values
train_df.reset_index(inplace = True)

# explode list to separate each label value
# https://stackoverflow.com/questions/12680754/split-explode-pandas-dataframe-string-entry-to-separate-rows
train_df = train_df.explode('labels').reset_index(drop = True)

In [11]:
train_df.head()

   index           image_id  labels
0      0  100241706_00004_2  U+306F
1      0  100241706_00004_2    1231
2      0  100241706_00004_2    3465
3      0  100241706_00004_2     133
4      0  100241706_00004_2      53

In [12]:
# create type column with exploded label element's type

train_df_len = len(train_df)//5

type_values = ['Uni', 'X', 'Y', 'W', 'H']*train_df_len

train_df['type'] = type_values

In [13]:
train_df.head()

   index           image_id  labels type
0      0  100241706_00004_2  U+306F  Uni
1      0  100241706_00004_2    1231    X
2      0  100241706_00004_2    3465    Y
3      0  100241706_00004_2     133    W
4      0  100241706_00004_2      53    H

In [14]:
train_df.tail()

         index     image_id  labels type
3417315   3604  umgy012-042  U+3031  Uni
3417316   3604  umgy012-042    1279    X
3417317   3604  umgy012-042    1444    Y
3417318   3604  umgy012-042      53    W
3417319   3604  umgy012-042     190    H

In [15]:
'''
# reset values in index so that value corresponds with unique label_id
train_df.rename(columns = {'index': 'label_id'}, inplace = True)

# loop
i = 0
for j in range(len(train_df)):
    if j % 5 == 0:
        i += 1
        train_df.iloc[j,0] = i
    else:
        train_df.iloc[j,0] = i
'''

"\n# reset values in index so that value corresponds with unique label_id\ntrain_df.rename(columns = {'index': 'label_id'}, inplace = True)\n\n# loop\ni = 0\nfor j in range(len(train_df)):\n    if j % 5 == 0:\n        i += 1\n        train_df.iloc[j,0] = i\n    else:\n        train_df.iloc[j,0] = i\n"

In [16]:
# train_df.head()

In [17]:
# pivot df so there is one row per label_id (datapoint) and types have their own columns
'''
train_df2 = pd.pivot_table(data = train_df, 
                          values = 'labels', 
                          index = ['label_id', 'image_id'], 
                          columns = 'type', 
                          aggfunc=lambda x: ' '.join(x)).reset_index()
'''

"\ntrain_df2 = pd.pivot_table(data = train_df, \n                          values = 'labels', \n                          index = ['label_id', 'image_id'], \n                          columns = 'type', \n                          aggfunc=lambda x: ' '.join(x)).reset_index()\n"

In [18]:
# train_df2.to_csv('../data/train_clean.csv', index = False)